.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
  flex-direction: column;
}
.value {
  font-size: 30px;
}
.button-in {
  border: 0;
  border-radius: 0;
}
